#elem1 {
	padding: 10px 20px 30px 40px;
	
	width: 200px;
	border: 1px solid red;
	text-align: justify;
}
#elem2 {
	padding: 50px 25px;
	margin-top: 50px;
	width: 200px;
	border: 1px solid red;
	text-align: justify;
}
#elem3 {
	padding: 20px 40px 100px;
	margin-top: 50px;
	width: 200px;
	border: 1px solid red;
	text-align: justify;
}