h1{
	font-family: "Courier New";
	font-size: 24px;
	text-align: center;
	margin: 25px 25px;
}
#epic1{
	text-align: right;
	font-style: italic;
	font-size: 14px;
}
#epic2{
	text-align: right;
	font-size: 10px;
}
p{
	font-family: "Verdana";
	font-size : 12px;
	
}
div p{
	margin-bottom: 20px;
}
span.cl{
	font-style: bold;
	font-size: 16px;
}
span.s1{
	opacity: 1.0;
}
span.s2{
	opacity: 0.9;
}
span.s3{
	opacity: 0.8;
}
span.s4{
	opacity: 0.7;
}
span.s5{
	opacity: 0.6;
}
span.s6{
	opacity: 0.5;
}
span.s7{
	opacity: 0.4;
}