div{
	margin: 10px;
}
p{
	padding: 10px 30px;
}
p.header{
	margin-bottom: 0px;
	padding-left: 50px;
	background-color: #006400;
}
p.text{
	margin-top: 0px;
	background-color: #3CB371;
}
p.text a{
	vertical-align: top;
	font-size: 8px;
}
p a{
	font-size: 12px;
}