#p1{
	width: 500px;
	border: 2px dotted blue;
}
#c1{
	height: 400px;
	border: 2px solid orange;
	margin: 50px;
}
#p2{
	width: 500px;
	border: 2px dotted blue;
}
#c2{
	height: 400px;
	border: 2px dashed green;
	margin: 25px;
}
#c3{
	height: 350px;
	border: 2px solid red;
	margin: 25px;
}