#r1{
	width: 300px;
	height: 300px;
	border: 3px green solid;
	border-radius: 30px;
}
#r2{
	width: 300px;
	height: 300px;
	border-radius: 30px;
	background-color: green;
}
#r3{
	width: 300px;
	height: 300px;
	border: 3px green solid;
	border-radius: 150px;
}