#r1{
	width: 300px;
	height: 100px;
	border-width: 5px;
	border-color: blue;
	border-style: solid;
}
#r2{
	width: 300px;
	height: 100px;
	border-width: 5px;
	border-color: red;
	border-style: dotted;
}
#r3{
	width: 300px;
	height: 100px;
	border-width: 2px;
	border-color: yellow;
	border-style: dashed;
}
#r4{
	border-width: 10px;
	border-color: blue;
	border-style: double;
	width: 300px;
	height: 100px;
	
}
