/*Упростите код, используя группировку селекторов:*/
.eee {
	font-size: 20px;
}
.zzz {
	font-size: 30px;
}
.ggg {
	font-size: 35px;
}

.eee, .zzz, .ggg{
	text-align: center;
	font-family: Arial;
}