/*Покрасьте содержимое первого и третьего дива в красный цвет ширина 400, 
содержимое второго дива и четвертого - в зеленый ширина 600. 
Для этого первому и третьему дивам дайте один класс, 
а второму и четвертому - другой класс.*/
.first, .second{
	text-align: justify;
}
.first{
	color: red;
	width: 400px;
}
.second{
	color: #008000;
	width: 600px;
}