/*Давайте найдем все элементы с классом header, 
находящиеся внутри элемента с классом block, и зададим им шрифт Arial:*/
.block .header {
	font-family: Arial;
}
/*Давайте выберем все h2 с классом header, находящиеся внутри элемента 
с классом block:*/
.block h2.header {
	font-size: 30px;
	color: red;
}
/*А теперь выберем все h3 с классом header, находящиеся внутри элемента 
с классом block:*/
.block h3.header {
	font-size: 20px;
	color: green;
}