/*Покрасьте содержимое первого дива в красный цвет, 
содержимое второго дива - в зеленый, 
а содержимое третьего дива - с голубой. 
Задайте для этого каждому диву свой класс.*/
.a{
	color: red;
	font-size: 20px;
}
.b{
	color: green;
	font-size: 24px;
}
.c{
	color: #00bfff;
	font-size: 28px;
}