<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${additionalValue}" />
<form th:action="@{/new_people}" th:object="${people}" method="post">
    ФИО <input type="text" th:field="*{fio}"><br />
    <p style="color: red" th:if="${#fields.hasErrors('fio')}" th:errors="*{fio}">error</p>

    email <input type="text" th:field="*{email}"><br />
    <p style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error</p>

    <input type="submit">
</form>

</body>
</html>